<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body bgcolor="#FCF3FF">
  <header>
    <% include partials/_header %>
  </header>
  <button><a href="/urls">View Your Shortened Links</a></button>
  <h2><font face="Courier">Short URL:  <%= shortURL %></font></h2>
    <h3><font face="Courier">Full link: <a href="http://localhost:8080/u/<%= shortURL %>">http://localhost:8080/u/<%= shortURL %></font></a></h3>
    <form action="/urls/<%= shortURL %>" method="POST">
      <label for="longURL"><font face="Courier">Update this URL:</font></label>
      <input id="longURL" type="text" name="longURL" value="<%=longURL.longURL%>">
      <input type="submit" value="Update">
    </form>
  <%= //express_server.js %>
</body>
</html>
